<%- include("header") -%>

<h2>This page describes how the to do web application works</h2>

<p>It shows dynamically how you can complete your daily tasks without having to miss out on a single thing</p>

<%- include("footer") -%>
